*{
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.typeform-widget{

    overflow-y: hidden; 

    
}

.typeform-widget:before {
    content: '';
    width: 100px;
    height: 500px;
    position: absolute;
    background: #FFF;
    left: 94%;
}

script{
    -ms-overflow-style: none;
    overflow-y: hidden; 
}

*::-webkit-scrollbar {
  display: none;
}   


.main{
    height: 100vh;
    min-height: 765px; 
    width: 100%;
    background-color: #2f2fa2;
    background-image: url(../Media/skyline.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.over{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main-nav{
    height: 80px;
    position: fixed;
    left: 0px; 
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    text-align: right;
    
}

.nav-button{
    display: inline-block;
    background-color: rgba(0,0,0,0);
    height: 50px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid; 
    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 10px;
    transition-duration: 0.4s
    
}

.nav-button:hover{
    background-color: #f64c72;
    border-color: black;
    border-radius: 0; 
    color: black; 
}

.nav-button:hover h1{
    color: black;
   
}

.nav-button h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.4s;
    font-weight: 200;
}

.ham-nav{
    display: none;
}



@media (max-width:1070px){
    .nav-button{
        display: none;
    }
    
    .ham-nav{
        display: block;
    }
    
    .main-nav{
        background-color: rgba(0,0,0,1);
    }
    
}



.logo{
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 150px;
    height: 70px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background-image: url(../Media/NewBB@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.last{
    margin-right: 10px;
}



.ham-wrapper{
    width: 50px;
    height: 50px; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:3px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-radius:20px;
        
}

.ham{
    background-color: white;
    border-radius: 100px;
}

.topnav{
    background-color: rgba(0,0,0,1);
    position: relative;
    top: 55px;
    display: none;
    padding: 15px;
    padding-left: 10px;
    z-index: -1;
    
}

.topnav h1{
    font-weight: 100;
}

@media(max-width:1070px){
    .topnav{
        display: block;
    }
    
    .topnav #myLinks{
        display: none;
    }
}

#myLinks a{
    display: block;
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: auto;
    transition-duration: 0.5s;
    border: 4px solid rgba(0,0,0,0);
}

#myLinks a:active{
    background-color: #f64c72;
    color: black;
    box-sizing: border-box;
}

#home-topnav{
    margin-top: 12px
}



.inspire{
    height: 300px;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

@media (max-width:600px){
    .inspire{
        grid-template-columns: 1fr 1fr;
    }
}
.inspire-box{
    overflow: hidden;
}

.inspire-box .image-box{
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.6s;
    
}

#ins1{
    background-image: url(../Media/elon.jfif);
    height: 100%;
    width:100%;
}

#ins2{
    background-image: url(../Media/trump.jpg);
    height: 100%;
    width: 100%;
}

#ins3{
    background-image: url(../Media/mark-zuckerberg.jpg);
    height: 100%;
    width: 100%;
}

#ins4{
    background-image: url(../Media/dims.jfif);
    height: 100%;
    width: 100%;
}

.inspire-box .over{
    background-color: rgba(0,0,0,0.3);
}


.inspire-box:hover div{
    background-color: rgba(0,0,0,0.0);
    
}

.image-box:hover{
    transform: scale(1.1);
}

.wrapper-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    min-height: 535px;
    padding: 80px;
    padding-top: 80px;
    box-sizing: border-box;
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
    border-radius: 10px; 
    
    
    
}
.wrapper{
    display: grid;
/*    background-color: red;*/
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}



.box1{
/*    background-color: red;*/
    background-image: url(../Media/logopink.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
/*    background-color: black;*/
    
}

.box2{
    background-image: url(../Media/NewBB@2x.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
/*    background-color: green;*/
    }   

@media (max-width:1200px){
    .wrapper-container{
        box-shadow: none;
        padding: 0px;
        top: 60%;
    }
    
    .wrapper{
        grid-template-rows: 200px 200px; 
    }
}

.box3{
/*    background-color: blue;*/
}

.explore{
    width:240px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.explore{
    display: block;
}
.explore h2{
    font-size: 50px;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.explore:hover{
    box-shadow: 4px 4px 00px 0px #000;
}

.wrapper-mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-2 h3{
    display: none;
}

@media(max-width:1100px){
    
    
    .item-1{
         
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .item-1 h3{
     
       
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .wrapper-mission{
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr;
    }
    
    .item-2 h3{
        display: inline;
      
        font-size: 25px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        font-weight: 150;

    }
    
    .item-2{
        background-image: url(../Media/860w/) none;
    }
   
    
    
}
    


.mission-item{
    
    background-color: #242582;
    height: auto;
}

.item-1 h3{
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    font-weight: 150;
}

.item-1{
    background-color: #f64c72;
    box-sizing: border-box;
    height: auto;
}



.item-2{
    background-image: url(../Media/missionrocket.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
   
}

.stocks{
    width: 100%;
    height: 650px; 
    padding: 35px;
/*    background-color: #a17b5a;*/
    background-color: #242582;
    box-sizing: border-box;
    
    
}

.tradingview-widget-container{
    box-shadow: 10px 10px 50px 10px #000;
    transition-duration: 0.8s;
}

.tradingview-widget-container:hover{
    box-shadow: 10px 10px 50px 5px #000;
}

.about-header{
    height: 250px;
    background-color: #f64c72;
    box-sizing: border-box;
    padding: 60px;
}

.watch-header{
    height: 400px;
    background-color: #f64c72;
    box-sizing: border-box;
    padding: 60px;
}

.watch-image{
    position: relative; 
    height: 100%; 
    width: 100%; 
    background-image: url(../Media/BBlogo.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.about-image{
    position: relative;
    height: 100%; 
    width: 100%;
    background-image: url(../Media/aboutrocketblue@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #f64c72;
}

.watch{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    background-color: #242582;

}

@media (max-width:1299px){
    .watch{
        grid-template-columns: 1fr; 
    
    }
    
    .watch-item:nth-child(1){
        background-color: #f64c72;
    }

    .watch-item:nth-child(3){
        background-color: #f64c72;
    }
    
   
    
    

}

.hidden-mission{
    position: relative;
    height: 24vw; 
    background-color: #242582;
    padding: 5%;
    box-sizing: border-box;
    
    
}

@media(min-width:1101px){
    .hidden-mission{
        display: none;
    }
}

.hid-miss-img{
    width: 100%;
    height: 100%;
    position: relative; 
    background-image: url(../Media/missionrocket.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain; 
}

@media(max-width:700px){
    .watch-video iframe{
        width: 100%;
        height: calc(0.5*100vw); 
    }
}
@media (min-width:1300px){
   
    
    .watch-item:nth-child(1){
    background-color: #f64c72;
    }

.watch-item:nth-child(4){
    background-color: #f64c72;
}
    
    
    

}








.watch-item{
    height: 500px;
    padding: 30px;
    
}
.watch-video{
    position: relative; 
    top:50%;
    transform: translateY(-50%);
}




.about-1{
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50px; 
    font-size: 25px;
    background-color: #242582;
    
}

.about-2{
    
    background-size: cover;
    background-color: 
}

.watch-video iframe{
    border-radius: 0px;
}

.me{
    height: 15vw;
    width: 15vw; 
    background-image: url(../Media/Me1.png);
    background-size: cover;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40%;
    box-shadow: 10px 10px 50px 10px #000;
}



@media (max-width:1100px){
    .about{
        grid-template-columns:1fr;
        grid-template-rows: 1fr 0.1fr;
    }
    
    .me{
        height: 55vw;
        width: 55vw;
        max-height: 300px;
        max-width: 300px; 
    }
    
    .about-1{
        
        border-bottom: 2px solid black;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        
    }
    
    .about-2{
/*        background-color: red;*/
        height: 500px;
           background-color: #f64c72;
        
    }
    
    .contact{
        height:100px; 
        background-color: red;
    }
    
    
}
