*{
    margin: 0;
    text-align: center;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: white;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: url(../Media/business.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.over{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.main-nav{
    height: 80px;
    position: sticky;
    left: 0px; 
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    text-align: right;
    
}

.nav-button{
    display: inline-block;
    background-color: rgba(0,0,0,0);
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid; 
    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 10px;
    transition-duration: 0.4s
    
}

.nav-button:hover{
    background-color: white;
    border-radius: 100px;
    border-color: black;
}

.nav-button:hover h1{
    color: black;
}

.nav-button h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.4s;
}

.ham-nav{
    display: none;
}



@media (max-width:1070px){
    .nav-button{
        display: none;
    }
    
    .ham-nav{
        display: block;
    }
    
    .main-nav{
        background-color: dimgray;
    }
    
}



.logo{
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 150px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background-image: url(../Media/Asset%206.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.last{
    margin-right: 10px;
}



.ham-wrapper{
    width: 50px;
    height: 50px; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:3px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-radius:20px;
        
}

.ham{
    background-color: white;
    border-radius: 100px;
}

.topnav{
    background-color: dimgray;
    position: relative;
    top: 55px;
    display: none;
    padding: 15px;
    padding-left: 10px;
    z-index: -1;
    
}

@media(max-width:1070px){
    .topnav{
        display: block;
    }
    
    .topnav #myLinks{
        display: none;
    }
}

#myLinks a{
    display: block;
    text-align: left;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: auto;
    transition-duration: 0.5s;
    border: 4px solid rgba(0,0,0,0);
}

#myLinks a:hover{
    background-color: white;
    border-radius: 30px; 
    color: black;
    border: 4px solid black;
    box-sizing: border-box;
}



.inspire{
    height: 300px;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}

@media (max-width:600px){
    .inspire{
        grid-template-columns: 1fr 1fr;
    }
}
.inspire-box{
    overflow: hidden;
}

.inspire-box .image-box{
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 0.6s;
    
}

#ins1{
    background-image: url(../media/elon.jfif);
    height: 100%;
    width:100%;
}

#ins2{
    background-image: url(../media/trump.jpg);
    height: 100%;
    width: 100%;
}

#ins3{
    background-image: url(../media/mark-zuckerberg.jpg);
    height: 100%;
    width: 100%;
}

#ins4{
    background-image: url(../media/dims.jfif);
    height: 100%;
    width: 100%;
}

.inspire-box .over{
    background-color: rgba(0,0,0,0.3);
}


.inspire-box:hover div{
    background-color: rgba(0,0,0,0.0);
    
}

.image-box:hover{
    transform: scale(1.1);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1.5fr 1fr;
    width: 90%;
    height: 500px;
    background-color: rgba(0,0,0,0.0);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.boxx{
    height: auto;
    width:auto;
/*    background-color: green;*/
}

.box1{
/*    background-color: red;*/
    background-image: url(../Media/logowhite.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.box2{
/*    background-color: green;*/
}

.box2 h1{
    font-size: 46px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.box3{
/*    background-color: blue;*/
}

.explore{
    width:240px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.explore{
    display: block;
}
.explore h2{
    font-size: 50px;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.explore:hover{
    box-shadow: 4px 4px 00px 0px #000;
}

.wrapper-mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
   
@media(max-width:1100px){
    .wrapper-mission{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .5fr; 
    }
}
    


.mission-item{
    
    background-color: #da4528;
    height: auto;
}

.mission-item h3{
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px
}

.item-1{
    background-color: #a17b5a;
    box-sizing: border-box;
    height: auto;
}

.item-2{
    background-image: url(../Media/2x/convo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
}

.stocks{
    width: 100%;
    height: 650px; 
    padding: 35px;
/*    background-color: #a17b5a;*/
    background-image: url(../Media/wood.jfif);
    box-sizing: border-box;
    
    
}

.tradingview-widget-container{
    box-shadow: 10px 10px 50px 10px #000;
    transition-duration: 0.8s;
}

.tradingview-widget-container:hover{
    box-shadow: 10px 10px 50px 5px #000;
}

.about{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-image: url(../Media/brick1.jpg);
}

.about-1{
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 150px; 
    font-size: 35px;
    background-color: rgba(0,0,0,0.4);
}

.about-2{
    
    background-size: cover;
}

.me{
    height: 20vw;
    width: 20vw; 
    background-image: url(../Media/Me1.png);
    background-size: cover;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40%;
    box-shadow: 10px 10px 50px 10px #000;
}

@media (max-width:1100px){
    .about{
        grid-template-columns:1fr;
        grid-template-rows: 1fr 0.1fr;
    }
    
    .me{
        height: 55vw;
        width: 55vw;
        max-height: 300px;
        max-width: 300px; 
    }
    
    .about-1{
        background-color: rgba(0,0,0,0.4);
        border-bottom: 2px solid black;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        
    }
    
    .about-2{
/*        background-color: red;*/
        height: 500px;
    }
}
